<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 10px;
      --king : #00165A;
      --dividercolor: #bdbdbd;
      --dividerSize: 2px;
    }
    .center {
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .band {
      background: var(--king);
      padding:5px;
      color:white;
      font-weight: 600;
      font-size: 18px;
      text-align:center;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      flex:1;
      margin-top:40px;
    }
    .bandItemContainer{
      background-color: rgb(235, 235, 235);
      color:var(--king);
    }
    .bandItem{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      margin-left: 20px;
    }
    .bandItem span{
      font-weight: 600;
      font-size:18px;
      margin-left: 20px;
    }
    .dividerV{
      background-color: var(--dividercolor);
      width:var(--dividerSize);
    }
    .dividerH{
      background-color: var(--dividercolor);
      height:var(--dividerSize);
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    td {
      border: 2px solid var(--dividercolor);
      font-weight: 600;
      text-align: center;
      height: 40px;
    }
    td img{
      margin-top:5px;
    }
    td:first-child{
      border-left-width: 0px;
    }
    td:last-child{
      border-right-width: 0px;
    }
    tbody tr:last-child td{
      border-bottom-width: 0px;
    }
    thead tr:first-child td{
      border-top-width: 0px;
    }
    .totalLine {
      display:flex;
    }
    .totalLine div {
      display:flex;
      height: 0px;
      border-width: 1px;
      border-color: black;
      border-style: dashed;
      flex:1;
      margin-left: 5px;
      margin-right: -15px;
      margin-top:9px;
    }
    .totalLine span{
      font-size:15px;
    }
    
  </style>
</head>
<body>
  <div class="center">

    <img src="{{logo}}" width="200px"/>
  </div>
  <div class="band" style="margin-top:40px;font-size:25px;padding: 7px;border-radius:6px;"><span>Simulation Projet</span></div>
  <div class="band"><span>Informations Logement & Résident</span></div>
<div class="bandItemContainer" style="display:flex">
  <div style="width:50%;">
      {{#each leftPerks}}
        <div class="bandItem">
          <div class="center" style="width:50px">
            <img src="{{this.image}}" height="32px"/>
          </div>
          <span>{{this.title}}</span>
        </div> 
      {{/each}}
  </div>
  <div class="dividerV"></div>
  <div style="width:50%;">
     {{#each rightPerks}}
        <div class="bandItem">
          <div class="center" style="width:50px">
            <img src="{{this.image}}" height="32px"/>
          </div>
          <span>{{this.title}}</span>
        </div> 
      {{/each}}
  </div>
</div>
<div style="display:flex">
  <div style="flex:1">
    <div class="band"><span>Projet</span></div>
    <div class="bandItemContainer">
       {{#each projects}}
        <div class="bandItem">
          <img src="{{this.image}}" height="40px"/>
          <span>{{this.title}}</span>
        </div>  
        {{#ifNotLast @index ../projects}}
          <div class="dividerH"></div>
        {{/ifNotLast}}
      {{/each}}
    </div>
  </div>
  <div style="width: 40px;"></div>
  <div style="flex:1">
    <div class="band"><span>Aides & Subventions</span></div>
    <div class="bandItemContainer">
      <table>
        <thead>
          <tr>
            <td>Produit</td>
            <td><img src="{{MPRLogo}}" height="32px"/></td>
            <td><img src="{{CEELogo}}" height="32px"/></td>
          </tr>
        </thead>
        <tbody>
          {{#each helps}}
          <tr>
            <td>
              <img src="{{this.image}}" height="32px"/>
            </td>
            <td>
              {{this.mpr}}
            </td>
            <td>
              {{this.cee}}
            </td>
          </tr>
          {{/each}}
           <tr>
            <td>
              Total
            </td>
            <td>
              {{this.totalMPR}}
            </td>
            <td>
              {{this.totalCEE}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="band"><span>Total</span></div>
<div class="bandItemContainer">
  {{#each totalLines}}
    <div class="bandItem totalLine">
      <span >{{this.title}}</span>
      <div></div>
      <span>{{this.price}}</span>
    </div>
  {{/each}}
</div>
<div style="margin-top: 20px;font-size: 14px;">* Les résultats des simulations proposées par Label Energie qui peivent être réalisées sur ce site sont indicatifs et
  ne constituent pas des offres. L’acceptation finale de votre demande pour bénéficier d’une Offre Chauffage reste
  soumise au respect de conditions d’éligibilité et de faisabilité.</div>
</body>
</html>
